@tailwind base;
@tailwind components;
@tailwind utilities;

.font-benton {
    font-family: "Benton", sans-serif;
}

.font-fb {
    font-family: "FB", sans-serif;
}

.font-tn {
    font-family: "TN", serif;
}

.font-georgia {
    font-family: "Georgia", serif;
}

.story {
    opacity: 0.4;
    transition: all 0.2s ease;
}

.story:hover {
    opacity: 1.0;
    transform: scale(1.1);
    z-index: 5;
}

.screen {
    background-color: rgba(0,0,0,0.8);
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: all 0.5s ease;
}

@font-face {
    font-family: "Benton";
    src: url("../fonts/benton.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Benton";
    src: url("../fonts/benton-medium.woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Benton";
    src: url("../fonts/benton-bold.woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "FB";
    src: url("../fonts/fb.woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "TN";
    src: url("../fonts/tn.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TN";
    src: url("../fonts/tn-bold.woff2");
    font-weight: 700;
    font-style: normal;
}